@import '~antd/dist/reset.css';

body {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter";
}
* {
  box-sizing: border-box;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}

.mb-5{
  margin-bottom: 20px;
}

.mb-2{
  margin-bottom: 10px;
}

.mt-5{
  margin-bottom: 20px;
}

.mt-2{
  margin-bottom: 10px;
}
.ant-table-content{
  scrollbar-width: none;
}
/* BIG CALENDAR */
.rbc-btn-group:first-child{
  display: none !important;
}
.rbc-toolbar-label{
  text-align: right !important;
  padding: 0px 20px !important;
}
.rbc-btn-group:last-child{
  font-size: 13px !important;
}
.rbc-btn-group:last-child button{
  background-color: #f1f0ff !important;
  border: none !important;
  margin-left: 2px !important;
}
.rbc-toolbar button.rbc-active{
  background-color: #dbdafe !important;
  box-shadow: none !important;
}
.rbc-time-view{
  border-color: #eee !important;
}
.rbc-time-header{
  /* display: none !important; */
}
.rbc-time-content{
  border: none !important;
}
.rbc-time-gutter.rbc-time-column{
  font-size: 12px !important;
}
.rbc-time-gutter.rbc-time-column.rbc-timeslot-group{
  padding: 0px 20px !important;
}
.rbc-timeslot-group{
  background-color: #f1fdff !important;
}
.rbc-day-slot{
  font-size: 14px !important;
}
.rbc-event{
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}
.rbc-event:nth-child(1){
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2){
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3){
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4){
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5){
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6){
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7){
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8){
  background-color: #fdf2fb !important;
}
.rbc-event-label{
  color: gray !important;
  margin-bottom: 5px !important;
}

.ant-popover .ant-popover-inner{
  border-radius: 4px !important;
}

.clicked{
  border: none;
  border-left: 7px solid #08AEEA;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ant-divider{
  margin-inline: 2px !important;;
}

.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}